@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Cream);
}
.card {
  display: flex;
  width: 37.5rem;
  background-color: var(--White);
  border-radius: 0.5rem;
  overflow: hidden;
}

.perfume-left {
  flex: 0 0 50%;
}

.perfume-left img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfume-right {
  flex: 0 0 50%;
  padding: 2rem;
}

.product-name {
  font-family: "Fraunces", serif;
  color: var(--Black);
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

.product-description {
  font-family: "Montserrat", serif;
  color: var(--Grey);
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0px;
  margin-block-end: 2rem;
}

.product-price {
  margin-block-end: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.new-price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0;
  color: var(--Green-500);
}

.old-price {
  font-family: "Montserrat", serif;
  color: var(--Grey);
  font-size: 0.8125rem;
  line-height: 1.2;
  letter-spacing: 0px;
}

.product-type {
  font-family: "Montserrat";
  color: var(--Grey);
  line-height: 1.2;
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
}

.add-to-cart {
  background-color: var(--Green-500);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 3.125rem;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  font-family: "Montserrat";
  color: var(--White);
  line-height: 1.1;
  font-size: 0.875rem;
  letter-spacing: 0;
  transition: color 0.15s ease;
}

.add-to-cart:hover {
  background-color: var(--Green-700);
}

footer {
  margin-block-start: 2rem;
  font-size: 0.7rem;
  color: black;
  text-align: center;
}

@media (max-width: 48rem) {
  .card {
    max-width: 21.375rem;
    flex-direction: column;
  }
  .product-description {
    margin-block-end: 1.5rem;
  }

  .product-price {
    margin-block-end: 1.5rem;
  }
}
